<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cooperation.dao.UserMapper">
    <select id="selectUser" resultType="org.cooperation.pojo.User">
        select * from west2cooperation.user
    </select>
    <insert id="addUser" parameterType="User" >
        insert into west2cooperation.user(username,password,userid)
        values (#{username},#{password},#{userid});
    </insert>
    <update id="updateUser" parameterType="User" >
        update west2cooperation.user set contact=#{contact},idcard=#{idcard},username=#{username}  where userid= #{userid};
    </update>
    <select id="queryUserByName" parameterType="String" resultType="org.cooperation.pojo.User">
        select * from west2cooperation.user where username=#{username};
    </select>
    <select id="queryId" parameterType="String" resultType="String">
        select idcard from west2cooperation.user where username=#{username};
    </select>
    <select id="queryDegree" parameterType="String" resultType="int">
        select degree from west2cooperation.user where userid=#{userid};
    </select>
    <select id="queryProfile" parameterType="String" resultType="map">
        select idcard,username,contact from west2cooperation.user where userid=#{userid};
    </select>
    <select id="queryUUID" parameterType="String" resultType="String">
        select userid from west2cooperation.user where username=#{username} and password=#{password};
    </select>
</mapper>